amqp==1.4.4
amqplib==1.0.2
anyjson==0.3.3
billiard==3.3.0.16
celery==3.1.9
django-celery==3.1.9
django-debug-toolbar-template-timings==0.6
django-debug-toolbar==1.0.1
django-redis-cache==0.11.1
Django==1.6.2
kombu==3.0.14
python-dateutil==2.2
pytz==2014.1
redis==2.9.1
requests==2.2.1
six==1.6.1
sqlparse==0.1.11
xmltodict==0.8.6
