<style type="text/css" media="screen">
  table tr td,
  table tfoot tr td
  {
    padding:     0.3em;
    line-height: 1em;
  }
  table tr.downloading{
    background: rgb();
  }
  table tr.new{
    background: rgb(145, 177, 199);
  }
  table tr.grabbed{
    background: rgb(200, 250, 180);
  }
</style>

<link href="/static/css/jquery.loadmask.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/js/jquery.loadmask.min.js"></script>


<div class="content">

<table width="100%" border="0">

  <tr>
    <td>

      <div class="pagination">
        <span class="step-links">
          <span class="current">
            Page {! data.pagination.current !} of {! data.pagination.total !}.
          </span>

          <br>

          <a ng-if="data.pagination.has_next" ng-click="next_page()">Next.</a>

          <br>
          <a ng-if="data.pagination.has_previous" ng-click="prev_page()">Previous.</a>

          <br>
        </span>
      </div>

    </td>
    <td><a href="#">&larr; Back</a></td>
    <td>
      <span ng-if="data.channel">
        <h2>{! data.channel.title !} <small>({! data.channel.chanid !} on {! data.channel.service !})</small></h2>
      </span>
      <span ng-if="!data.channel">
        <h2>All channels</h2>
      </span>

    </td>
  </tr>
</table>



<table class="table table-striped table-hover table-condensed" id="videos">
  <thead>
    <th>Actions</th>
    <th>Title</th>
    <th width="75px">Status</th>
    <th width="160px">Released</th>
  </thead>

  <tr ng-repeat="video in data.videos" ng-class="status_info.css_class(video.status)">
    <td>

      <span ng-if="video.action_running">
        <img src="/static/img/spinner.gif" alt="Loading indicator">
      </span>

      <span ng-if="!video.action_running">
        <a ng-click="download(video)"><i class="fa fa-download"></i></a>
        <a ng-click="mark_viewed(video)"><i class="fa fa-check" title="Mark as viewed"></i></a>
        <a ng-click="mark_ignored(video)"><i class="fa fa-square-o" title="Mark video as ignored"></i></a>
      </span>
    </td>

    <td>
      <a href="#/channels/{! video.channel.id !}"><img width="12px" ng-src="{! video.channel.icon !}"></a>

      <a href="{! video.url !}">{! video.title !}</a>
      <a ng-if="!data.channel" href="#/channels/{! video.channel.id !}"><small style="color:grey"> [{! video.channel.title !}]</small></a>

      <!-- Video Info popup window -->
      <span ng-controller="VideoInfoPopupCtrl">
        <a ng-click="open(video)"><i class="fa fa-info-circle"></i></a>
      </span>
    </td>
    <td>
      {! video.status | status_text !}
    </td>
    <td>
      <span style="font-size:0.7em" am-time-ago="video.publishdate">{! video.publishdate !}</abbr>
    </td>
  </tr>
</table>

<p>Last refresh: {! data.channel.last_refresh !}</p>
<p>Last new content: {! data.channel.last_content_update !}</p>
<p>
  <a ng-if="data.channel" ng-click="refresh_channel()"><i class="icon-refresh"></i>Refresh {! data.channel.title !}</a>
  <a ng-if="!data.channel" ng-click="refresh_channel('_all')"><i class="icon-refresh"></i>Refresh all</a>
</p>

</div><!-- end content -->


<a href="#">&larr; Back</a>


<script type="text/ng-template" id="videoInfoPopup.html">
  <h3>{! video.title !}</h3>
  <p>
    <span ng-repeat="url in video.imgs">
      <img ng-src="{! url !}" width="64">
    </span>
  </p>
  <p ng-bind-html="video.description | nl2br"></p>
  <p>
    <button class="button" ng-click="ok()">OK</button>
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
  </p>
</script>
