<div ng-controller="ChannelList" ng-init="init()">
  <i ng-show="loading">Loooading...</i>
  <input type="text" ng-model="filtertext" placeholder="Search">
  <hr>



  <table class="table table-striped table-hover table-condensed" id="videos">
    <colgroup>
      <col width="20px"></col>
      <col width="200px"></col>
      <col width="80px"></col>
      <col></col>
    </colgroup>
    <thead>
      <th></th>
      <th>Title</th>
      <th>Recent</th>
      <th>Total unviewed</th>
    </thead>
    <tr>
      <td></td>
      <td><a href="#/channels/all">All channels</a></td>
      <td>0</td>
      <td>0</td>
    </tr>


    <tr ng-repeat="chan in data.channels | filter: filtertext">
      <td><a href="aaaa url 'ytdl.views.refresh_channel' chan.id bbbbb" class="async"><i class="icon-refresh"></i></a></td>
      <td>
        <a href="#/channels/{! chan.id !}">
          <img width="12px" src="/youtube/channel_icon/{! chan.id !} "> <span title="{{chan.chanid}}">{! chan.title !}</span>
        </a>
      </td>
      <td>{{chan.num_unviewed_recently}}</td>
      <td>{{chan.num_unviewed}}</td>
    </tr>

    <tr>
      <td></td>
      <td><a href="aaaa url 'ytdl.views.refresh_all' bbbbb" class="async">Refresh all <i class="icon-refresh"></i></a></td>
    </tr>
  </table>



  <table>
  </table>
</div>
