{% extends "base.html" %}

{% block content %}

{% include "ytdl/navbar.html" %}

<div style="padding: 20px"></div>

<div class="well">
<h2>Add channel</h2>
<form method="POST" action="#">{% csrf_token %}
  <label for="channame_input">Channel name</label>
  <input type="text" id="channame_input" name="channame" value="">

  <label for="service_input">Service</label>
  <select name="service">
    <option value="youtube">Youtube</a>
    <option value="vimeo">Vimeo</a>
  </select>
  <br>
  <input type="submit" name="go" value="Go" />
</form>
</div>
{% endblock %}
