<!doctype html>
<html ng-app="test">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ytdl</title>
    <link rel="stylesheet" href="/static/css/foundation.min.css" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.timeago.js"></script>
    <script src="/static/js/modernizr.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>

    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/angular-moment.min.js"></script>
    <script src="/static/js/mm-foundation-tpls-0.1.0.js"></script>



    <script src="/static/js/angulartest.js"></script>


    <style type="text/css" media="screen">
      .fa { color: black; }
    </style>
  </head>
  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="{% url 'ytdl.views.index' %}">YTDL</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li  class="active"><a href="{% url 'ytdl.views.index' %}"><i class="icon-list icon"></i> Channels</a></li>
          <li><a href="{% url 'ytdl.views.add_channel' %}"><i class="icon-plus icon"></i> Add</a></li>
          <li><a href="{% url 'ytdl.views.channel_delete' %}"><i class="icon-minus icon"></i> Delete</a></li>

        </ul>
      </section>
    </nav>


    <div ng-view></div>


    <script src="/static/js/jquery.js"></script>
    <script language="javascript" src="/static/js/jquery.timeago.js" type="text/javascript"></script>

    <script src="/static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
