<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="active"><a href="{% url ytdl.views.index %}">YTDL</a></li>
      <li><a href="{% url ytdl.views.index %}"><i class="icon-list icon"></i> Channels</a></li>
      <li><a href="{% url ytdl.views.add_channel %}"><i class="icon-plus icon"></i> Add</a></li>
      <form class="navbar-search pull-right" action="#" method="GET">
        <input type="search" class="search-query" name="search" placeholder="Search" id="filter" value="{{ query }}">
        <button type="submit" class="btn btn-small">
          <i class="icon-search icon-white"></i> Search
        </button>
      </form>
    </ul>
  </div>
</div>
<div style="height:40px">&nbsp;</div>
