# For UI/DB etc
Django==1.4.1

# For accessing Youtube videos
gdata==2.0.17

# For celery BG worker
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.17
celery==3.0.11
django-celery==3.0.10

# For using Django as data store
kombu==2.4.7
# ..and redis (could remove one of these, and configure settings.py)
redis==2.7.1
