<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ytdl</title>
    <link rel="stylesheet" href="/static/css/foundation.min.css" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.timeago.js"></script>
    <script src="/static/js/modernizr.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <style type="text/css" media="screen">
      .fa { color: black; }
    </style>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}

    <script src="/static/js/jquery.js"></script>
    <script language="javascript" src="/static/js/jquery.timeago.js" type="text/javascript"></script>

    <script src="/static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
